streamlit
PyMuPDF
sentence-transformers
pinecone-client
huggingface-hub
gTTS
together
transformers
SpeechRecognition
ipython
numpy
scipy
requests
feedparser
PyMuPDF
PyPDF2
pandas
scikit-learn
nltk
numpy
matplotlib
seaborn
